---
layout: default
title: Contributing
---

<div id="content">
  <div class="container">
    <div class="entry col-sm-8 col-md-8">
      <div class="col-sm-4 col-md-4">
        <div class="row">
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md">Contributing Guidelines</a>
          </li>
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/PROCESS.md">Contributing Process</a>
          </li>
          <li>
            <a href="http://feedback.gitlab.com/">Feedback and suggestions forum</a>
          </li>
          <li>
            <a href="https://www.gitlab.com/consultancy/">Sponsor the development of new features</a>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
