/* Consultancy */

/*html {
  background: url(/images/bg/bg_consultancy.png) no-repeat center center fixed;
  background-position: 100% 100%;
  height: 100%;
}*/

.hire-us {
  background: url(/images/bg/bg_consultancy.png) no-repeat center center;
  background-color: #548;
  color: #fff;
  font-weight: 300;
  padding-top: 200px;
  min-height: 800px;
  background-position: 30% 100%;
}

.hire-us small {
  color: rgba(119, 228, 255, 0.86);
}

.hire-us .btn-default {
  background-color: rgba(0,0,0,0);
  border-color: #fff;
  color: #fff;
  margin-top: 20px;
}

#hire-us {
  animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

#footer {
  background-color: #272120 !important;
  border-top: 0 !important;
}

#consultancy-form {
  background-color: #fff;
  min-height: 2200px;
}

.wrapper {
  background-color: #272120;
}
