---
layout: default
title: GitLab Community Edition
---

<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="row">
        <div class="col-sm-12 col-md-12 jumbotron">
          <p>
            GitLab Community Edition (CE) is open source software to collaborate on code.
            <br />
            Create projects and repositories, manage access and do code reviews.
            <br />
            GitLab CE is on-premises software that you can install and use on your server(s).
          </p>
          <div class="button-holder">
            <a class="btn btn-info btn-lg" href="/downloads/"> Downloads</a>
            <a class="btn btn-success btn-lg" href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/README.md"> Source code</a>
          </div><!-- button-holder -->
        </div> <!-- span 12 -->
      </div><!-- row -->
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="entry">
            <div class="screenshots">
              <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                  <a href="#home" data-toggle="tab">Application dashboard</a>
                </li>
                <li>
                  <a href="#s2" data-toggle="tab">Project dashboard</a>
                </li>
                <li>
                  <a href="#s3" data-toggle="tab">Commit page</a>
                </li>
                <li>
                  <a href="#s4" data-toggle="tab">Browse repository</a>
                </li>
                <li>
                  <a href="#s5" data-toggle="tab">Merge request/code review</a>
                </li>
                <li>
                  <a href="#s6" data-toggle="tab">Manage issues</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="home">
                  <div class="thumbnail">
                    <a href="/images/screens/gitlab_dash.png">
                      <img src="/images/screens/gitlab_dash.png">
                    </a>
                  </div>
                </div>
                <div class="tab-pane" id="s2">
                  <div class="thumbnail">
                    <a href="/images/screens/gitlab_project.png">
                      <img src="/images/screens/gitlab_project.png">
                    </a>
                  </div>
                </div>
                <div class="tab-pane" id="s3">
                  <div class="thumbnail">
                    <a href="/images/screens/diff.png">
                      <img src="/images/screens/diff.png">
                    </a>
                  </div>
                </div>
                <div class="tab-pane" id="s4">
                  <div class="thumbnail">
                    <a href="/images/screens/gitlab_project_tree.png">
                      <img src="/images/screens/gitlab_project_tree.png">
                    </a>
                  </div>
                </div>
                <div class="tab-pane" id="s5">
                  <div class="thumbnail">
                    <a href="/images/screens/gitlab_project_mr.png">
                      <img src="/images/screens/gitlab_project_mr.png">
                    </a>
                  </div>
                </div>
                <div class="tab-pane" id="s6">
                  <div class="thumbnail">
                    <a href="/images/screens/dash_issues.png">
                      <img src="/images/screens/dash_issues.png">
                    </a>
                  </div>
                </div>
              </div>
            </div> <!-- row-fluid screenshots -->
            <h3 id="Features">Features</h3>
            <ul>
              <li>Completely free and open source (MIT license)</li>
              <li>Keep your code secure on your own server</li>
              <li>Manage repositories, users and access permissions</li>
              <li>Perform code reviews with merge requests</li>
              <li>Extended permission system with 5 access levels and branch protection</li>
              <li>Efficient user management by creating groups of projects and teams of users</li>
              <li>Use the ticketing system included in GitLab or integrate your existing system</li>
              <li>Line comments and discussions in merge requests and diffs</li>
              <li>Each project has a wiki backed up by a separate git repository</li>
              <li><a href='/gitlab-ce-features'>A complete list of all GitLab Community Edition features</a></li>
            </ul>

            <h3 id="more_information">More information</h3>
            <ul>
              <li>Try out the <a href="http://demo.gitlab.com">live demo</a></li>
              <li>The <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/install/requirements.md">requirements page</a> details the supported operating systems, ruby versions and hardware requirements.</li>
              <li>The <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/README.md">readme</a> contains information about a lot of subjects including installation alternatives and getting help</li>
            <ul>
          </div><!-- entry -->
        </div><!-- span 12 -->
      </div><!-- row -->
    </div><!-- row-fluid -->
  </div><!-- container -->
</div><!-- content -->
