---
layout: default
title: About Us
---
<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="col-sm-9 col-md-9"> 
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <h3>GitLab B.V.</h3>
              <p>
              GitLab B.V. supports organizations and individuals using GitLab. To do this we offer services around GitLab such as subscriptions, consulting, development and training.
              </p>
              <p>
              GitLab is a community project with hundreds of contributors.
              GitLab B.V. is an active participant in this community, trying to serve its needs and lead by example.
              </p>
              <h4>Vision</h4>
              <p>
              Our vision is that every digital product that is created by more than one person should be managed in distributed version control.
              This allows people to cooperate effectively and to achieve better results, faster.
              </p>
              <h4>Mission and logo</h4>
              <p>
              We are part of a community that works together to create the best open source collaboration tools.
              Our fox logo symbolizes this with a smart animal that works in a group to achieve a common goal.
              We would like to thank <a href="https://twitter.com/gravityonmars">Ricardo Rauch</a> for contributing the logo.
              </p>
              <h4>Values</h4>
              We care about giving back to the rest of the GitLab community, that is why we give most code back to the <a href="https://gitlab.com/gitlab-org/gitlab-ce/">Community Edition</a>.
              We try to be open, that is why this website is maintained in <a href="https://gitlab.com/gitlab-com/www-gitlab-com/">a public repository</a>.
              We realize that GitLab is more than this organization, an example of this is are the people from outside this company in the <a href="https://www.gitlab.com/core-team/">core team</a>.
              We think good code can be written by anyone, we encourage diversity by contributing to <a href="http://railsgirls.nl/">RailsGirls NL</a>.
              We try to correct the mistakes we make, please give us a chance by <a href="mailto:sales@gitlab.com">emailing us</a>.
              <p>
              <h4>Donations</h4>
              Some people contact us because they would like to donate to GitLab.
              If you have time to give please help spread the word about GitLab by mentioning us and/or <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md">contribute by reviewing issues and merge requests</a>.
              If you would like to give money please <a href="http://railsgirlssummerofcode.org/campaign/">donate to Rails Girls Summer of Code</a> in our name.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
