<p>
The following terms and conditions govern all use of the Gitlab.com website (the “Website”) owned by GitLab B.V. and all content, services and products available at or through the website.
The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, procedures that may be published from time to time on this Website by Gitlab B.V. (collectively, the “Agreement”).
</p>
<p>
Please read this Agreement carefully before accessing or using the Website.
By accessing or using any part of the Website, you agree to be bound by the terms and conditions of this agreement.
If you do not agree to all the terms and conditions of this Agreement, then you may not access the Website or use any services.
If these terms and conditions are considered an offer by Gitlab B.V., acceptance is expressly limited to these terms.
The Website is available only to individuals who are at least 13 years old.
</p>
<ol>
  <li>
  <strong>Ownership.</strong>
  When you submit content to the Website we do not claim any ownership rights to the information that you submit. Your code stays your code.
  </li>

  <li>
  <strong>Your Account and Site.</strong>
  If you create an account on the Website, you are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the account.
  You must immediately notify Gitlab B.V. of any unauthorized use of your account or any other breaches of security.
  Gitlab B.V. will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.
  </li>

  <li>
  <strong>Payment and Renewal.</strong>
  By selecting a subscription, you agree to pay Gitlab B.V. the monthly or annual subscription fees indicated for that service.
  Subscription fees are not refundable.
  Unless you notify Gitlab B.V. before the end of the applicable subscription period that you want to cancel, you subscription will be automatically renewed and you authorize us to collect the then-applicable annual or monthly subscription fee using any credit card or other payment mechanism we have on record for you.
  Subscriptions can be canceled at any time.
  </li>

  <li>
  <strong>Reference.</strong>
  GitLab B.V. shall be entitled to use the name and logo of your organization publicly as a reference in relation to the marketing and distribution of its products and/or services.
  </li>

  <li>
  <strong>Responsibility of Website Visitors.</strong>
  Gitlab B.V. has not reviewed, and cannot review, all of the material, including computer software, posted to the Website, and cannot therefore be responsible for that material’s content, use or effects.
  By operating the Website, Gitlab B.V. does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful or non-harmful.
  You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.
  The Website may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors.
  The Website may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated.
  Gitlab B.V. disclaims any responsibility for any harm resulting from the use by visitors of the Website, or from any downloading by those visitors of content there posted.
  </li>

  <li>
  <strong>Content Posted on Other Websites.</strong>
  We have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which this website links, and that link to this website.
  Gitlab B.V. does not have any control over those non-Gitlab B.V. websites and webpages, and is not responsible for their contents or their use.
  By linking to a non-Gitlab B.V. website or webpage, Gitlab B.V. does not represent or imply that it endorses such website or webpage.
  You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.
  Gitlab B.V. disclaims any responsibility for any harm resulting from your use of non-Gitlab B.V. websites and webpages.
  </li>

  <li>
  <strong>Copyright Infringement and DMCA Policy.</strong>
  As Gitlab B.V. asks others to respect its intellectual property rights, it respects the intellectual property rights of others.
  If you believe that material located on or linked to by Gitlab B.V. violates your copyright, you are encouraged to notify Gitlab B.V. in accordance with our <a title="https://www.gitlab.com/dmca/">DMCA policy</a>.
  Gitlab B.V. will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material.
  Gitlab B.V. will terminate a visitor’s access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of Gitlab B.V. or others.
  In the case of such termination, Gitlab B.V. will have no obligation to provide a refund of any amounts previously paid to Gitlab B.V..
  </li>

  <li>
  <strong>Intellectual Property.</strong>
  This Agreement does not transfer from Gitlab B.V. to you any Gitlab B.V. or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with Gitlab B.V..
  Gitlab, the Gitlab logo, and all other trademarks, service marks, graphics and logos used in connection with Gitlab, or the Website are trademarks or registered trademarks of Gitlab B.V. or Gitlab B.V.’s licensors.
  GIT is a trademark of Software Freedom Conservancy and our use of “GitLab” is under license.
  Other trademarks, service marks, graphics and logos used in connection with the Website may be the trademarks of other third parties.
  Your use of the Website grants you no right or license to reproduce or otherwise use any Gitlab B.V. or third-party trademarks.
  </li>

  <li>
  <strong>Changes.</strong>
  Gitlab B.V. reserves the right, at its sole discretion, to modify or replace any part of this Agreement.
  It is your responsibility to check this Agreement periodically for changes.
  Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes.
  Gitlab B.V. may also, in the future, offer new services and/or features through the Website (including, the release of new tools and resources).
  Such new features and/or services shall be subject to the terms and conditions of this Agreement.
  Gitlab B.V. may also, in the future, remove features at any time without warning.
  <strong><br /></strong>

  </li>
  <li>
  <strong>Termination.</strong>
  Gitlab B.V. may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately.
  If you wish to terminate this Agreement or your Gitlab B.V. account (if you have one), you may simply discontinue using the Website.
  All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
  <strong><br /></strong>

  </li>
  <li>
  <strong>Disclaimer of Warranties.</strong>
  The Website is provided “as is”.
  Gitlab B.V. and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement.
  Neither Gitlab B.V. nor its suppliers and licensors, makes any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted.
  You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.
  </li>

  <li>
  <strong>Limitation of Liability.</strong>
  In no event will Gitlab B.V., or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to Gitlab B.V. under this agreement during the twelve (12) month period prior to the cause of action.
  Gitlab B.V. shall have no liability for any failure or delay due to matters beyond their reasonable control.
  The foregoing shall not apply to the extent prohibited by applicable law.
  </li>

  <li>
  <strong>General Representation and Warranty.</strong>
  You represent and warrant that (i) your use of the Website will be in strict accordance with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.
  </li>

  <li>
  <strong>Indemnification.</strong>
  You agree to indemnify and hold harmless Gitlab B.V., its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.
  </li>

  <li> <strong>Partial invalidity</strong>
  <p>
  If any provision of this document is held by a court of competent jurisdiction to be invalid, void, or unenforceable, the remaining provisions shall nevertheless continue in full force without being impaired or invalidated in any way.
  </p>
  </li>

  <li> <strong>Failure to enforce</strong>
  <p>
  The failure of either party to enforce at any time, or for any period of time, the provisions hereof shall not be construed to be a waiver of such provisions or of the right of such party to enforce each and every such provision.
  </p>
  </li>

  <li><strong>Dispute resolution</strong>
  <p>
  The parties will engage in good faith negotiations to resolve the dispute for a period of ten (10) business days after written notice of the dispute or issue is provided by one party to the other. Within such ten (10) business days, representatives from each party will engage in negotiations to resolve the dispute, and such individuals will meet in person, via teleconference or via telephone and attempt to informally resolve the dispute or issues. If those persons are unable to resolve the dispute within such ten (10) business days, then unless the parties have mutually agreed to extend the negotiation period, a party may exercise its rights available to such party under this agreement or otherwise.
  </p>

  <li><strong>Arbitration</strong>
  <p>
  Any dispute, controversy or claim arising out of or relating to this contract, including the formation, interpretation, breach or termination thereof, including whether the claims asserted are arbitrable not resolved via the process laid out in Dispute resolution will then be referred to and finally determined by arbitration in accordance with the JAMS International Arbitration Rules.
  The Tribunal will consist of a sole arbitrator.
  The place of arbitration will be London, England.
  The language to be used in the arbitral proceedings will be English.
  Judgment upon the award rendered by the arbitrator(s) may be entered in any court having jurisdiction thereof.
  </p>
  </li>

  <li><strong>Forum selection</strong>
  <p>
  This agreement shall be governed by and interpreted in accordance with the laws of the Netherlands.
  </p>
  </li>
</ol>
<p>
  <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons Sharealike</a> license, parts taken from <a href="http://www.wordpress.com/">WordPress.com</a> ToS
</p>


