---
layout: default
title: GitLab CE Download Archives
---
<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p>
                <strong>Packages</strong>
                <br />
                The latest packages are found at the top.
              </p>
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Platform</th>
                    <th>Download</th>
                    <th>MD5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.0.0-omnibus-1_amd64.deb">gitlab_7.0.0-omnibus-1_amd64.deb</a></td>
                    <td>302a22620dee2a7c26756ef63753bf98</td>
                  </tr>

                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 14.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.0.0-omnibus-1_amd64.deb">gitlab_7.0.0-omnibus-1_amd64.deb</a></td>
                    <td>4e2f1e0da67496fb367c137f04e0f11a</td>
                  </tr>

                  <tr>
                    <td><img src="/images/debian.png"></td>
                    <td>Debian 7 (Wheezy) 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.5/gitlab_7.0.0-omnibus-1_amd64.deb">gitlab_7.0.0-omnibus-1_amd64.deb</a></td>
                    <td>9bfd55e638d068b83441e9fdc188e331</td>
                  </tr>

                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.0.0_omnibus-1.el6.x86_64.rpm">gitlab-7.0.0_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>6bdf1d4f4d43dd39c6aa15f5bfa7d72e</td>
                  </tr>

                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.0.0-omnibus-1_amd64.deb">gitlab_7.0.0-omnibus-1_amd64.deb</a></td>
                      <td>302a22620dee2a7c26756ef63753bf98</td>
                    </tr>

                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_6.9.2-omnibus.2-1_amd64.deb">gitlab_6.9.2-omnibus.2-1_amd64.deb</a></td>
                      <td>1825443df46140139f8e85b8b38c8733</td>
                    </tr>

                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_6.9.1-omnibus-1_amd64.deb">gitlab_6.9.1-omnibus-1_amd64.deb</a></td>
                      <td>02e225ea371e3ce23cafd6d146ecf267</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_6.9.0-omnibus-1_amd64.deb">gitlab_6.9.0-omnibus-1_amd64.deb</a></td>
                      <td>c972cdb0262a70f46cb3900a31d0f680</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_6.8.2-omnibus-1_amd64.deb">gitlab_6.8.2-omnibus-1_amd64.deb</a></td>
                      <td>b21dbadc890b8a6eb405e1771eea4d73</td>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_6.8.1-omnibus.4-1_amd64.deb">gitlab_6.8.1-omnibus.4-1_amd64.deb</a></td>
                      <td>93eb68aa407a33f01b376308bde0b465</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.7.5-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.7.5-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>f9388f42f04433d0c0b7a17e4b2bcdec</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.7.4-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.7.4-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>3e9e72bd713802b45c5a7fa53cdb2077</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.7.3-omnibus.3-1.ubuntu.12.04_amd64.deb">gitlab_6.7.3-omnibus.3-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>4f595ff0c6a8e16f8e06bf307579b148</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.7.3-omnibus.2-1.ubuntu.12.04_amd64.deb">gitlab_6.7.3-omnibus.2-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>06b22ec592408d12e2d47e86bafc5d6a</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.7.2-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.7.2-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>13555c13e61ad87af820c461969996ad</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.5-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.6.5-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>f67badffae3b3f855b05133f6776bf3a</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.4-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.6.4-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>fa5642248ef8ea1ff3970abc7547f7fc</td>
                    </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.0-pre1.omnibus.3-1.ubuntu.12.04_amd64.deb">gitlab_6.6.0-pre1.omnibus.3-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>a3fcf83062b5de1a035db1f0b00a63ea</td>
                    </tr>
                      <tr>
                        <td><img src="/images/ubuntu.png"></td>
                        <td>Ubuntu 12.04 LTS 64bit</td>
                        <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.0-pre1.omnibus.2-1.ubuntu.12.04_amd64.deb">gitlab_6.6.0-pre1.omnibus.2-1.ubuntu.12.04_amd64.deb</a></td>
                        <td>d9702efc7fe13d4033c50a3c382b0227</td>
                    </tr>
    
                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7 (Wheezy) 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.5/gitlab_7.0.0-omnibus-1_amd64.deb">gitlab_7.0.0-omnibus-1_amd64.deb</a></td>
                      <td>9bfd55e638d068b83441e9fdc188e331</td>
                    </tr>

                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7 (Wheezy) 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.5/gitlab_6.9.2-omnibus.2-1_amd64.deb">gitlab_6.9.2-omnibus.2-1_amd64.deb</a></td>
                      <td>4b6c085654c161d3526fdf912a72b14e</td>
                    </tr>

                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7 (Wheezy) 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.4/gitlab_6.9.1-omnibus-1_amd64.deb">gitlab_6.9.1-omnibus-1_amd64.deb</a></td>
                      <td>aabf00de1d518bbd82ee122e9e45c2c1</td>
                    </tr>
                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7 (Wheezy) 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.4/gitlab_6.9.0-omnibus.2-1_amd64.deb">gitlab_6.9.0-omnibus.2-1_amd64.deb</a></td>
                      <td>05b2078824c187276ded039fc1108963</td>
                    </tr>
                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7.4 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.4/gitlab_6.8.2-omnibus-1_amd64.deb">gitlab_6.8.2-omnibus-1_amd64.deb</a></td>
                      <td>499fa23196fb139b09c15335014a5463</td>
                    </tr>
                    <tr>
                    <tr>
                      <td><img src="/images/debian.png"></td>
                      <td>Debian 7.4 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/debian-7.4/gitlab_6.8.1-omnibus.4-1_amd64.deb">gitlab_6.8.1-omnibus.4-1_amd64.deb</a></td>
                      <td>e3696d1adc4872f067ed16b020ef55d2</td>
                    </tr>

                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-7.0.0_omnibus-1.el6.x86_64.rpm">gitlab-7.0.0_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>6bdf1d4f4d43dd39c6aa15f5bfa7d72e</td>
                    </tr>

                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-6.9.2_omnibus.2-1.el6.x86_64.rpm">gitlab-6.9.2_omnibus.2-1.el6.x86_64.rpm</a></td>
                      <td>9cd0ccb6f2dd1ab6239e3258bae439e3</td>
                    </tr>

                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-6.9.1_omnibus-1.el6.x86_64.rpm">gitlab-6.9.1_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>583c60b37bca999c63f88ea8d171d093</td>
                    </tr>

                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distributions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-6.9.0_omnibus-1.el6.x86_64.rpm">gitlab-6.9.0_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>277482450a8a1a006994b64568633919</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-6.8.2_omnibus-1.el6.x86_64.rpm">gitlab-6.8.2_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>e691eff2f7c82571c6b011c00fc64196</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/centos-6.5/gitlab-6.8.1_omnibus.4-1.el6.x86_64.rpm">gitlab-6.8.1_omnibus.4-1.el6.x86_64.rpm</a></td>
                      <td>f4c8dc83ecb300e11480c9918b524421</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.7.5_omnibus-1.el6.x86_64.rpm">gitlab-6.7.5_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>5e20e740da461d3c58091e5899294a93</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.7.4_omnibus-1.el6.x86_64.rpm">gitlab-6.7.4_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>df54df440c133cf4d24e4e0ab72f040d</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.7.3_omnibus.3-1.el6.x86_64.rpm">gitlab-6.7.3_omnibus.3-1.el6.x86_64.rpm</a></td>
                      <td>34a44af9a461acc10382348855f1de19</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit (compatible with all Enterprise Linux 6.x distribitions)</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.7.3_omnibus.2-1.el6.x86_64.rpm">gitlab-6.7.3_omnibus.2-1.el6.x86_64.rpm</a></td>
                      <td>ff80edc1133cb04f69a2e3c74d4b92d5</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.7.2_omnibus-1.el6.x86_64.rpm">gitlab-6.7.2_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>58c8c3411a052855ce6152212ffea2c3</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.5_omnibus-1.el6.x86_64.rpm">gitlab-6.6.5_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>53fa8fb4c5572de2faeeffd91a6cdd27</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.4_omnibus-1.el6.x86_64.rpm">gitlab-6.6.4_omnibus-1.el6.x86_64.rpm</a></td>
                      <td>19f0ef4601d556eef31e38f7282e70aa</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.0_pre1.omnibus.3-1.el6.x86_64.rpm">gitlab-6.6.0_pre1.omnibus.3-1.el6.x86_64.rpm</a></td>
                      <td>6ed0d89d1c7d65f80df60d78eab1e87d</td>
                    </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.0_pre1.omnibus.2-1.el6.x86_64.rpm">gitlab-6.6.0_pre1.omnibus.2-1.el6.x86_64.rpm</a></td>
                      <td>34a0fef3c803f86f9584e54de0e45cc9</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
