---
layout: default
title: Open source software to collaborate on code
suppress_header: true
---
<div id="landing">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 text-center">
        <h1 class="landing-header">Open source software to collaborate on code</h1>

        <div class="col-sm-12 col-md-12 text-left">
          <p class="text-center">
            GitLab offers git repository management, code reviews, issue tracking, activity feeds and wikis.
            Enterprises install GitLab on-premise and connect it with LDAP and Active Directory servers for secure authentication and authorization.
            A single GitLab server can handle more than 25,000 users but it is also possible to create a high availability setup with multiple active servers.
          </p>

          <div class="landing-button">
            <a class="btn btn-info btn-lg action-button" href="/gitlab-ce/"> GitLab Community Edition</a>
            <a href="/subscription" class="btn btn-success btn-lg action-button">Get a subscription</a>
          </div>
        </div>

        <div class="container">
          <img src="/images/main_screenshot.png" class="img-responsive main-screenshot">
        </div>


      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row text-center">
      <h2 class="light">GitLab is used in more than <b>100,000</b> organizations</h2>
      <br />
    </div>
    <div class="row text-center">
        <img class="user_logo" alt="image" src="/images/organizations/user_1.png"><img class="user_logo" alt="image" src="/images/organizations/user_2.png"><img class="user_logo" alt="image" src="/images/organizations/user_3.png"><img class="user_logo" alt="image" src="/images/organizations/user_4.png"><img class="user_logo" alt="image" src="/images/organizations/user_5.png"><img class="user_logo" alt="image" src="/images/organizations/user_6.png"><img class="user_logo" alt="image" src="/images/organizations/user_7.png"><img class="user_logo" alt="image" src="/images/organizations/user_8.png"><img class="user_logo" alt="image" src="/images/organizations/user_9.png"><img class="user_logo" alt="image" src="/images/organizations/user_10.png"><img class="user_logo" alt="image" src="/images/organizations/user_11.png"><img class="user_logo" alt="image" src="/images/organizations/user_12.png"><img class="user_logo" alt="image" src="/images/organizations/user_13.png"><img class="user_logo" alt="image" src="/images/organizations/user_14.png"><img class="user_logo" alt="image" src="/images/organizations/user_15.png"><img class="user_logo" alt="image" src="/images/organizations/user_16.png"><img class="user_logo" alt="image" src="/images/organizations/user_17.png">
        <br />
        <small>All logos and trademarks are the property of their respective owners.</small>
    </div>
    <br>
  </div>
</div>

<div class="row testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-8">

        <blockquote>
          <p>"My department has been using GitLab since version 1.0 and have found
        that it's a good code sharing platform that keeps getting better with
        each release. GitLab fills our need and desire for such code sharing
        capability while at the same time satisfying the organizations
        direction that University intellectual property not be placed on
        public cloud-based services outside of campus."</p>
          <footer>Troy Murray - Information Technologist II - <a href="http://www.msu.edu/">Michigan State University</a></footer>
        </blockquote>

        <br />
        <br />
        <br />

        <blockquote>
          <p>"Gitlab is an excellent option..... not only more user friendly than Gitorious but also easier to install."</p>
          <footer>Hongli Lai - <a href="http://www.phusion.nl/">Phusion</a> - makers of Passenger, the most popular ruby application server</footer>
        </blockquote>

        <br />
        <br />
        <br />

        <blockquote>
          <p>"The on-premise installation is a big advantage for companies that need to keep sensitive information in-house."</p>
          <footer>Keith Harris in <a href="https://www.gitlab.com/case-studies/360i-transitions-to-gitlab/">their case study on GitLab</a>  - associate director - <a href="http://www.360i.com/">360i</a></footer>
        </blockquote>
      </div>

      <div class="col-sm-4 col-md-4">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/gitlabhq/favorites" data-widget-id="442933421942132736">Favorite Tweets by @gitlabhq</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>

<div class="row videos">
  <div class="col-sm-12 col-md-12">
    <h1 class="text-center">Working effectively with GitLab issues and merge requests</h2>
    <br />
    <div class="col-sm-12 col-md-12 text-center">
       <iframe class="videoembed" src="https://www.youtube.com/embed/raXvuwet78M" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
